@font-face {
	font-family: "Avenir LT W01 55 Roman";
	src: url("../fonts/avenir-55.woff") format("woff");
}
@font-face {
	font-family: "Avenir LT W01 65 Medium";
	src: url("../fonts/avenir-65.woff") format("woff");
}
@font-face {
	font-family: "Avenir LT W01 85 Heavy";
	src: url("../fonts/avenir-85.woff") format("woff");
}
@font-face {
	font-family: "Avenir LT W01 95 Black";
	src: url("../fonts/avenir-95.woff") format("woff");
}
@font-face {
	font-family: "FrutigerNeue1450W01-Reg";
	src: url("../fonts/FrutigerNeue1450W01-Reg.woff") format("woff");
}
@font-face {
	font-family: "FrutigerNeue1450W01-Ita";
	src: url("../fonts/FrutigerNeue1450W01-Ita.woff") format("woff");
}
